.Scanner {
  width: 100%;
  height: 100%;
  max-width: 768px;
  max-height: 1024px;
  position: relative;
  .hidden {
    display: none;
  }
  .title {
    position: absolute;
    top: 136px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: var(--white);
    z-index: 3;
    text-align: center;
    .flexible {
      span {
        margin-right: 15px;
        &.success {
          background: -webkit-linear-gradient(#82F310, #18C94D);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  .subtitle {
    font-weight: normal;
    font-size: 28px;
    color: var(--subtitle-color);
    margin-top: 16px;
  }
  .scanner-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.zIndex {
      z-index: 2;
    }
  }
  .scanner-image {
    position: absolute;
    z-index: 2;
    object-fit: cover;
  }
  .react-html5-camera-photo  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    img {
      display: none !important;
    }
    video {
      object-fit: cover;
      height: 100%;
    }
    #container-circles {
      cursor: pointer;
    }
  }
  .ScanInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 190px;
    padding: 16px;
    display: flex;
    z-index: 3;
      .scan-content{
        display: flex;
        background: linear-gradient(180deg, #16233D 0%, #131E35 100%);
        box-shadow: 0px 10px 40px rgba(0, 7, 20, 0.44);
        width: 568px;
        height: 158px;
        overflow: hidden;
        border-radius: 4px;
          .Image{
            width: 150px;
            object-fit: cover;
            margin-right: 20px;
          }
          .scan-label{
            div{
              color: var(--gray-text-color);
              margin-top: 15px;
              font-size: 16px;
              line-height: 20px;
              span{
                color: var(--white);
                margin-left: 10px;
              }
            }
          }
      }
      .scan-data{
        width: 164px;
        height: 158px;
        background: linear-gradient(180deg, #16233D 0%, #131E35 100%);
        box-shadow: 0px 10px 40px rgba(0, 7, 20, 0.44);
        border-radius: 4px;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
          .time-label{
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: var(--white);
          }
          .date-label{
            font-size: 14px;
            line-height: 18px;
            color: var(--gray-text-color);
            padding-top: 10px;
          }
      }
  }
}
