.Button {
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  padding: 17px 25px;
  background-color: var(--hero);
  border: none;
  color: var(--white);
  cursor: pointer;
}
