.auth-box-w {
  width: calc(100% - 20px);
  max-width: 400px;
  position: relative;
  top:100px;
  margin: 10px auto;
  .logo-w {
    padding: 20px 40px;
  }
  .form {
    padding: 20px 60px;
    padding-bottom: 60px;
    .form-group {
      position: relative;
      .pre-icon {
        position: absolute;
        bottom: 5px;
        font-size: 24px;
        color: #047bf8;
        left: -38px;
      }
    }
  }
}
