@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

:root {
  --hero: #00BFFD;
  --background: linear-gradient(179.64deg, #243559 -0.45%, #0B1730 99.76%, #17274A 99.76%);
  --white: #fff;
  --border-color: #354E69;
  --dark-background: #0E1C37;
}

html,body {
  width: 100%;
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

body {
  min-height: 100%;
  background: var(--background);
}

//Global styles for creating flexible components

.flexible {
  display: flex;
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
  &.vertical-reverse {
    flex-direction: column-reverse;
  }
  &.jStart {
    justify-content: flex-start;
  }
  &.jEnd {
    justify-content: flex-end;
  }
  &.jCenter {
    justify-content: center;
  }
  &.jAround {
    justify-content: space-around;
  }
  &.jBetween {
    justify-content: space-between;
  }
  &.aStart {
    align-items: flex-start;
  }
  &.aEnd {
    align-items: flex-end;
  }
  &.aCenter {
    align-items: center;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.noWrap {
    flex-wrap: nowrap;
  }
  &.grow {
    flex-grow: 1;
  }
  &.noGrow {
    flex-grow: 0;
  }
  &.shrink {
    flex-shrink: 1;
  }
  &.noShrink {
    flex-shrink: 0;
  }
}

.singleLine {
  white-space: nowrap;
}

.truncate-lines-styles {
  display: -webkit-box;
  word-break: break-word;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  &.twoLines {
    -webkit-line-clamp: 2;
    @extend .truncate-lines-styles;
    -webkit-box-orient: vertical;
  }
  &.threeLines {
    -webkit-line-clamp: 3;
    @extend .truncate-lines-styles;
    -webkit-box-orient: vertical;
  }
  &.fourLines {
    -webkit-line-clamp: 4;
    @extend .truncate-lines-styles;
    -webkit-box-orient: vertical;
  }
  &.fiveLines {
    -webkit-line-clamp: 5;
    @extend .truncate-lines-styles;
    -webkit-box-orient: vertical;
  }
}
