:root {
  --hero: #00BFFD;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}
//Global styles for creating flexible components

.flexible {
  display: flex;
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
  &.vertical-reverse {
    flex-direction: column-reverse;
  }
  &.jStart {
    justify-content: flex-start;
  }
  &.jEnd {
    justify-content: flex-end;
  }
  &.jCenter {
    justify-content: center;
  }
  &.jAround {
    justify-content: space-around;
  }
  &.jBetween {
    justify-content: space-between;
  }
  &.aStart {
    align-items: flex-start;
  }
  &.aEnd {
    align-items: flex-end;
  }
  &.aCenter {
    align-items: center;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.noWrap {
    flex-wrap: nowrap;
  }
  &.grow {
    flex-grow: 1;
  }
  &.noGrow {
    flex-grow: 0;
  }
  &.shrink {
    flex-shrink: 1;
  }
  &.noShrink {
    flex-shrink: 0;
  }
}

.page-content {
  padding: 20px 16px;
  width: 100%;
  margin: 0 auto;
  max-width: calc(328px + (2*16px));
}

.singleLine {
  white-space: nowrap;
}

.truncate-lines-styles {
  display: -webkit-box;
  word-break: break-word;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  &.twoLines {
    -webkit-line-clamp: 2;
    @extend .truncate-lines-styles;
    -webkit-box-orient: vertical;
  }
  &.threeLines {
    -webkit-line-clamp: 3;
    @extend .truncate-lines-styles;
    -webkit-box-orient: vertical;
  }
  &.fourLines {
    -webkit-line-clamp: 4;
    @extend .truncate-lines-styles;
    -webkit-box-orient: vertical;
  }
  &.fiveLines {
    -webkit-line-clamp: 5;
    @extend .truncate-lines-styles;
    -webkit-box-orient: vertical;
  }
}
